setuptools
torch
torchvision
pandas
matplotlib
ruamel.yaml
moviepy
einops
protobuf==3.20.0
gym
mujoco
dm_control
scipy
memory_maze
atari-py
crafter
opencv-python
numpy
tensorboard
# minerl==0.4.4
# This was needed for minerl
# conda install -c conda-forge openjdk=8
